.DS_Store
node_modules
/build
/.svelte-kit
/package
.env
.env.*
/.venv
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# mdx hierarcher
tools/mdx_hierarcher/.venv
tools/mdx_hierarcher/**/__pycache__
__pycache__

src/lib/mawanet
src/lib/entries/**/mdx
src/routes/(mawanet)/mawanet/\[\[entry\]\]/+page.js
