[submodule "src/lib/sixth-chamber"]
	path = src/lib/sixth-chamber
	url = git@github.com:lorikayman/mtt-sixth-chamber.git
[submodule "src/lib/entries/sk/rebis-theory"]
	path = src/lib/entries/sk/rebis-theory
	url = git@github.com:lorikayman/RebisTheory.git
