body {
  font-family: sans-serif;
  padding: .4em .6em;
  background-color: rgb(6, 6, 6);
}

body * {
  font-family: 'Courier New', Courier, monospace;
}

div.header-vertical {
  color: #ea9b2c;
  letter-spacing: .15em;
  border-left: .1em solid #ea9b2c;
  padding-left: .3em;
  margin-bottom: 2.15em;
}
div.header-vertical h2 {
  margin: .15em 0;
}
div.header-vertical h4 {
  margin-top: 0.3em;
}
div.header-vertical h4 span {
  color: #d9c68d;
  font-weight: 600;
}

.section-two-panes {
  min-height: 40rem;
}

.container-cards {
  row-gap: 22px;
  flex-direction: column;
  display: flex;
  vertical-align: top;
}

.container-selector {
  /* overflow: visible; */
  max-width: fit-content;
  display: block;
}

.container-showoff {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 6em;
}

.showoff-floating {
  animation-name: showoff-floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 9s;
}

@keyframes showoff-floating {
  0% { transform: translate(0px, 0px); }
  50%  { transform: translate(0px, 10px); }
  100%   { transform: translate(0px, -0px); }
}


@media screen and (min-width: 500px) {
  .container-showoff {
    margin-right: 10%;
    --mask-padding: 7%;
    float: right;
    display: block;
    min-width: 8em;
    width: 28%;
    /* width: 24em; */
    height: 28em;
    background-size: 48em;
    clip-path: polygon(var(--mask-padding) 0, var(--mask-padding) 100%, 100% 100%, 100% 0);
    background-repeat: no-repeat;
    background-position: left;
  }

}

.card-row {
  min-height: 22px;
  max-width: 420px;
  padding: 14px 20px;
  outline: solid 2px rgb(242, 192, 63);
  color: rgb(228, 227, 227);
  background-color: rgb(0, 0, 0);
  align-items: center;
  display: inline;
  font-size: 1.0em;
  font-family: sans-serif;
}

.card-row span {
  margin-top: 20px;
}


.card-title {
  margin-bottom: 4px;
}

.card-title span {
  font-weight: bold;
}

.card-title :first-child i {
  margin: 0.3em;
  margin-right: .08em;
}

.card-row :first-child i {
  transition: 0.2s;
}
.card-row:hover :first-child i {
  transition: 0.52s;
}
.card-row:hover :first-child i[github] {
  color: #2dba4e;
}
.card-row:hover :first-child i[email] {
  color: #f34542;
}
.card-row:hover :first-child i[twitter] {
  color: #1DA1F2;
}
.card-row:hover :first-child i[discord] {
  color: #7289da;
}
i.external-link {
  transition: 0.02s !important;
  filter: grayscale(1);
}
i.external-link:hover {
  transition: 0.02s !important;
  filter: grayscale(1);
}

.card-row a {
  color: #767b81;
  text-decoration: none;
}

.card-row a:hover {
  color: #ea9b2c; 
  text-decoration: none; 
  cursor: pointer;
  opacity: 1;
  transition: 0.022s;
}


.card-row .foldable {
  transition: 0.42s;
  transition-delay: -0.1s;
  height: 0px;
  overflow: hidden;
}
.card-row:hover .foldable {
  height: 80px;
  visibility: visible;
  text-overflow: ellipsis;
}

.cosmic-malevolence {
  color: #fe0054;
  font-weight: bolder;
  filter: drop-shadow(0 0 0.7rem);
}
