/* https://www.dafont.com/familiar-pro.font */
@font-face {
  font-family: "familiar-pro";
  font-style: normal;
  src: url("/fonts/familiar_pro/Familiar Pro-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("/static/fonts/Open_Sans/static/OpenSans-Medium.ttf");
}

/* https://www.1001fonts.com/fira-sans-font.html */
@font-face {
  font-family: "fira-sans-ultralight";
  font-style: normal;
  src: url("/fonts/Fira_Sans/fira-sans.ultralight.ttf");
}
@font-face {
  font-family: "fira-sans-bold";
  font-style: normal;
  src: url("/fonts/Fira_Sans/FiraSans-Bold.ttf");
}
@font-face {
  font-family: "fira-sans-semi-bold";
  font-style: normal;
  src: url("/fonts/Fira_Sans/FiraSans-SemiBold.ttf");
}

/* https://fonts.google.com/specimen/Fira+Sans */
@font-face {
  font-family: "fira-sans-extralight";
  font-style: normal;
  src: url("/fonts/Fira_Sans/FiraSans-ExtraLight.ttf");
}

:root {
  padding: 0.4em 0.6em;
  background-color: rgb(6, 6, 6);
  scroll-behavior: smooth;
}

body {
  font-family: "Open Sans", sans-serif;

  min-height: 40rem;
  scroll-behavior: smooth;
  & > div:first-child {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 0;
    margin-left: 20px;
    margin-right: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "fira-sans-semi-bold";
}

#bg-handler {
  color: hsla(0deg, 0%, 100%, 0.2);
  font-size: 0.6rem;
}
/* https://www.publicdomainpictures.net/en/view-image.php?image=338833&picture=armillary-sphere*/
#bg-handler::before {
  content: "";
  background-image: url("/img/armillary-sphere.jpg");
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  display: block;
  filter: brightness(3%) grayscale(100%);
  background-position: 50% 13%;
  width: 100%;
  height: 100%;
}

p {
  font-size: 1.12rem;
  letter-spacing: 0.08mm;
  font-family: "fira-sans-ultralight" !important;
  line-height: 1.6rem;
}

#master-header {
  text-align: center;
  color: #ea9b2c;
  letter-spacing: 0.15em;
  border-left: 1.2rem solid #de9835;
  border-right: 1.2rem solid #de9835;
  padding: 0.4rem 0.3rem;
  padding-top: 0.8rem;
  margin-bottom: 2.15rem;
  border-radius: 8px;
  filter: drop-shadow(0 -2mm 4mm rgba(183, 112, 11, 0.844));

  & h1 {
    margin: 0.15em 0;
    padding: 0.1rem 1.2rem;
    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    margin: 0rem 1rem;
    transition: color 1s;
    color: rgb(255, 233, 159);
    text-transform: uppercase;

    border-top: 0.3rem solid transparent;
    border-bottom: 0.3rem solid transparent;
    color: rgb(255, 251, 147);

    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    /* Author: Stefan Judis (stefanjudis)
    https://codepen.io/alphardex/pen/vYEYGzp */
    &::after {
      position: absolute;
      content: "";
      top: calc(-1 * var(--border-width));
      left: calc(-1 * var(--border-width));
      z-index: -1;
      width: 100%;
      height: 40%;
      background: linear-gradient(
        60deg,
        hsl(224, 85%, 66%),
        hsl(269, 85%, 66%),
        hsl(314, 85%, 66%),
        hsl(359, 85%, 66%),
        hsl(34, 85%, 66%),
        hsl(89, 85%, 66%),
        hsl(134, 85%, 66%),
        hsl(179, 85%, 66%)
      );
      background-size: 300% 300%;
      background-position: 0 50%;
      border-radius: calc(2 * var(--border-width));
      animation: moveGradient 3s alternate infinite;
    }
  }

  & h2 {
    margin-top: 0.3em;

    & span {
      color: #d9c68d;
      font-weight: 600;
    }
  }
}

@media (max-width: 540px) {
  #master-header h1::after {
    width: 80%;
    height: 70%;
  }
}

@media (min-width: 980px) {
  #master-header h1::after {
    height: 30%;
    margin-top: 1.8em;
  }
}

@keyframes moveGradient {
  30% {
    background-position: 59% 100%;
  }
  60% {
    background-position: 40% 100%;
  }
}

.align {
  display: inline-block;
}

.floating {
  animation-name: floating;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 8s;
}

@keyframes floating {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 10px);
  }
  100% {
    transform: translate(0px, -0px);
  }
}

#connectivity {
  margin-top: -3.8rem;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  color: #de9835;
  letter-spacing: 0.1em;

  animation-name: floating-menu;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
  filter: drop-shadow(0 -2mm 4mm rgba(183, 112, 11, 0.15));

  & .online {
    font-size: 1.1em;
    color: rgb(82, 215, 122);
    filter: drop-shadow(0 0 1mm rgb(82, 215, 122));
  }

  & .check {
    font-size: 1.1em;
    padding: 3px;
    color: aqua;
    filter: drop-shadow(0 0 1mm aqua);
  }
}

@keyframes floating-menu {
  0% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, -6px);
  }
  100% {
    transform: translate(0px, -0px);
  }
}

/* .cosmic-malevolence {
  color: #fe0054;
  font-weight: bolder;
  filter: drop-shadow(0 0 0.7rem);
} */

@media (max-width: 540px) {
  #master-header {
    border: unset;
    padding-top: 0px;
  }

  #header-spacer {
    padding-bottom: 50%;
  }
}

#header-spacer {
  min-height: 14rem;
  max-height: 15rem;
  padding-top: 7rem;
  margin-bottom: 5em;
  font-family: "fira-sans-semi-bold";
  /* font-family: "familiar-pro"; */
  /* text-transform: uppercase; */
}

@media (max-width: 540px) {
  #header-spacer {
    margin-bottom: 8em;
  }
}

.footer {
  height: 4em;
}
