:root {
    /*https://fonts.google.com/specimen/Open+Sans?query=open+sans*/
    font-family: "Open Sans";
    color-scheme: dark;
}

/* https://www.dafont.com/familiar-pro.font */
@font-face {
    font-family: 'familiar-pro';
    font-style: normal;
    src: url('/fonts/familiar_pro/Familiar Pro-Bold.otf') format("opentype");
}

html {
    background-color: rgb(24, 26, 27);
    color: rgb(232, 230, 227)
}

::selection {
    /* darkreader override */
    background-color: rgba(255, 200, 34, 0.558)!important;
}

h1 {
    font-family: 'familiar-pro';
    font-weight: 600;
    font-size: 4.7rem;
    padding: 34px 6px;
    margin: unset;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h2 {
    font-family: 'familiar-pro';
    font-weight: 500;
    font-size: 3.4rem;
    letter-spacing: 3px;
    text-transform: uppercase;
}

h3 {
    font-size: 2.6rem;
    letter-spacing: 3px;
    font-family: 'familiar-pro';
    text-transform: uppercase;
}

h4 {
    font-family: 'familiar-pro';
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.8rem;
}

h5 {
    font-family: 'familiar-pro';
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.3rem;
}

p {
    /* font-size: 1.1rem; */
    font-weight: 400;
    line-height: 1.6;
    margin: 0 0 24px;
}

@media (max-width: 540px) {
    h1 {
        font-size: 1.7em;
        padding: 14px 6px;
    }
    h2 {
        font-size: 1.5rem;
        letter-spacing: 3px;
    }
    h3 {
        font-size: 1.4rem;
        letter-spacing: 3px;
    }
    h4 {
        letter-spacing: 2px;
        font-size: 1.3rem;
    }    
    h5 {
        letter-spacing: 1px;
        font-size: 1.2rem;
    }
}

.container p {
    text-align: justify;
}

blockquote {
    background-color: hsl(0, 0%, 7%);
    padding: 0.6em 1em;
    margin: 1.4em 0em;
    border-radius: 4px;
    /* border-style: solid; */
    border-color: hsl(0, 0%, 5%);
    border-width: 1px;

    background:
        repeating-linear-gradient(
            hsl(0, 30%, 51%),
            hsl(25, 68%, 60%))
        center center;
    background-size:100%;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

    & p, li {
        margin: 0px;
        padding: 0em 1.2em;

        &::selection {
            color: hsl(0, 0%, 80%);
        }
    }

    & ul {
        margin: 0;
    }

    & li {
        margin-top: 1em;
        font-size: 0.95em;
        font-style: italic;
        list-style-type: none;
    }

    &::before {
        content: "\"";
        font-style: italic;
        color: hsl(0, 0%, 55%);
        font-size: 1.8em;
        position: relative;
        margin: 0;
    }
    &::after {
        content: "\"";
        font-style: italic;
        color: hsl(0, 0%, 55%);
        font-size: 1.8em;
        position: relative;
        /* float: right; */
        margin-left: 95%;
    }
}

code {
    background-color: hsl(257, 79%, 15%);
    color: hsl(41, 86%, 64%);
    border-color: hsl(267, 70%, 25%);
    font-weight: lighter;
    border-radius: 3px;
    border-style: solid;
    border-width: 1px;
    padding: 1px 4px;
    font-size: 1.05rem;
}

div.container {
    padding-left: 3.8rem;
    padding-right: 0.8rem;
}

@media only screen and (min-width: 801px) {
    div.container {
        max-width: 60%;
        padding-left: 20%;
        counter-reset: paragraph;
    }

    .container > p::before {
        counter-increment: paragraph;
        content: counter(paragraph) '.';
        position: absolute;
        color: rgb(157, 157, 157);
        left: 16.6%;
        font-size: 0.9em;
    }
}


a {
    color: unset;
    text-decoration: none;
}
