/**
 * Markdown document headings-only font
 *
 * https://www.dafont.com/familiar-pro.font
 */
@font-face {
  font-family: heading;
  font-style: normal;
  src: url("/fonts/familiar_pro/Familiar Pro-Bold.otf")
    format("opentype");
}

/**
 * Primary font for markdown document,
 * paragraphs, etc.,
 * excluding headings
 */
@font-face {
  font-family: primary;
  font-style: normal;
  src: url("/fonts/Open_Sans/static/OpenSans-Regular.ttf")
    format("truetype");
}

/* Font for Table of Contents' entries, bold, regular, etc. */
@font-face {
  font-family: secondary-light;
  font-style: normal;
  src: url("/fonts/Fira_Sans/FiraSans-Light.ttf")
    format("truetype");
}

/**
 * Newton Sans is for extended support of unicode characters of alchemical group
 * https://symbl.cc/en/unicode/blocks/alchemical-symbols/
 *
 * https://webapp1.dlib.indiana.edu/newton/reference/font.do
 * https://webapp1.dlib.indiana.edu/newton/fonts/Unicode-U1F700.pdf
 */
@font-face {
  font-family: "newton-sans-regular";
  src: url("$lib/entries/sk/rebis-theory/assets/fonts/newton_sans/NewtonSans-2015-11-04.ttf")
    format("truetype");
}

/**
 * In root register images in variables
 */
:root {
  color-scheme: dark;
  --color-unknown: #ff0055;
  --toc-active-item-icon: url("/src/lib/entries/sk/rebis-theory/assets/img/spiral_knights/icon_goldlock.png");
  --toc-active-item-icon-unknown: url("/src/lib/entries/sk/rebis-theory/assets/img/spiral_knights/icon_mobeye.png");
  --toc-active-item-color: hsl(34, 72%, 70%);
  --toc-hover-item-background: hsla(225deg, 40%, 30%, 0.1);
  --ui-selection-regular: rgba(255, 62, 41, 0.5);
  /* --asset-moon: url("/src/lib/entries/sk/rebis-theory/assets/img/spiral_knights/moon.png"); */
}

/* Set initial height for document for background stability */
html {
  min-height: 100vh;
  top: 0;
  bottom: 0;
}

/**
 * Set default font color
 * Set primary font priority
 */
body {
  top: 0;
  bottom: 0;
  color: hsl(240, 10%, 92%);
  font-family: primary, newton-sans-regular, sans-serif;
}

/** OpenGL canvas background */
/* .background-special {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
} */

/**
 * Initial background coloe fill,
 * so that @see .background would
 * not change hue depending on browser
 * because of latter's alpha < 1.0 
 */
.background-base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: -99;
}

/**
 * Page's primary background w/ gradient
 * Gradient is loosely derived of
 * inventory item's preview model background
 *
 * As this gradient is not 1.0 alpha,
 * we rely on default bg color in @see .background-base
 */
.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(
      circle,
      rgba(52, 100, 255, 0.14),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      210deg,
      /* rgba(59, 157, 248, 0.36),
      rgba(42, 58, 202, 0.36) */
        /* rgba(59, 157, 248, 0.16),
      rgba(42, 58, 202, 0.22) */
        rgba(59, 157, 248, 0.28),
      rgba(42, 58, 202, 0.22)
    );
  z-index: -20;
}

/* potentially add floor texture for primary background */
/* .background::before {
  content: "";
  position: absolute;
  top: -40px;
  right: -50%;

  height: 80%;
  width: 80%;

  background-image: var(--asset-floor);
  background-size: contain;
  opacity: 0.04;
  background-repeat: no-repeat;
} */

/**
 * Dafault selection color
 * We may override DarkReader's selection color override here
 */
::selection {
  background-color: var(--ui-selection-regular) !important;
}

/**
 * CommonMark spec assumes only 1 h1 heading
 * We use it as the start of the markdown document
 */
h1 {
  font-weight: 600;
  font-size: 4rem;

  letter-spacing: 1px;
  font-family: heading;
  text-transform: uppercase;

  margin-bottom: 1rem;
  padding-top: 2rem;

  /**
   * Moon animated image for h1
   */
  /* &::before {
    background-image: var(--asset-moon);
    width: 18rem;
    height: 18rem;

    z-index: -30;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    background-size: cover;
    animation: clouds-move 16s linear infinite;
    transform: scale(1);
    mix-blend-mode: screen;
  } */
}

/**
 * Animation for moon image of h1
 */
/* @keyframes clouds-move {
  0% {
    top: -2.6rem;
    filter: contrast(1.5) brightness(1);
  }
  50% {
    top: -2rem;
    filter: contrast(1.5) brightness(1.2);
  }
  100% {
    top: -2.6rem;
    filter: contrast(1.5) brightness(1);
  }
} */

h2 {
  font-weight: 500;
  font-size: 3.8rem;
}

h3 {
  font-size: 3.8rem;
  letter-spacing: 3px;
  margin-top: 6rem;

  margin-bottom: 3.6rem;
  
  
  /* non-p eleemnt follows, make smaller gap */
  &:has(+ div) {
    margin-bottom: 2.0rem;
  }
}

h4,
h5,
h6 {
  font-size: 1.3rem;
  margin-bottom: 16px;
}

p,
li {
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0;
  padding-bottom: 24px;
}

/**
 * Common heading elements
 * As we rely on markdown transfomation to html
 * to use its tags as anchors for specific
 * styles and design elemnts
 *
 * The pattern of chpater design follows
 *  <h><em>Chapter <code>XX</code></em> Plaintext heading text</h>
 */
h2,
h3,
h4,
h5 {
  font-family: heading;
  text-transform: uppercase;

  /**
   * code tag is used to wrap chapter numerals
   */
  & code {
    letter-spacing: 0px;
    font-weight: bold;
    font-style: inherit;
    border-radius: 2px;
    padding: 0em 0.3em;
    /* align visually letter's box size,
      consider letter spacing */

    /**
     * Within the code wrapper of chapter's number
     * we place alchemy symbol
     * It is still within the outlined box
     */
    /* &::after {
      content: "";
      background-image: url("/src/lib/entries/sk/rebis-theory/assets/img/spiral_knights/logo_alchemy.png");
      background-size: 22px;
      width: 29px;
      display: inline-block;
      height: 24px;
      bottom: -5px;
      background-position-x: 90%;
      position: relative;
      background-repeat: no-repeat;
      filter: brightness(0.52) sepia(1) saturate(2.02);
    } */
  }

  /**
   * As em wraps the chpater + its number, we use it to make
   * 2-level chapter names
   */
  > em:first-of-type {
    font-size: 1.3rem;
    font-style: inherit;
    color: inherit;

    /** So far we wont use this as we have <br> in em part of headings */
    /* &::after {
      content: "";
      display: block;
      white-space: pre-line;
    } */
  }

  /**
   * No padding creates impression as if
   * the word on the first line went horizontally
   * farther than boundaries of larger text below,
   * - more to the left due to custom letter-spacing,
   * so we add a few pixels to counter that
   */
  &::before {
    content: "";
    padding-left: 2px;
  }
}


h3:is(
   [id="chapter-ix-part-i-gremlin-empire"]
) {
  max-width: 50%;
}

/**
 * we use h3-derived selector instead
 * of nth-type-of since not all h3s
 * are nested or positioned on the same inline depth
 *
 * The :is logic supports special character parsing
 * of webkit (1) and of firefox / chrome (2)
 */
h3:is(
    [id="chapter-ix-part-ii-swarm"],
    [id="chapter-ix-part-iiswarm"]
  ) {
  color: var(--color-unknown);

  & code {
    background-color: #000;
    color: inherit;

    /* &::after {
      content: '';
      background-image: unset;
      filter: unset;
      width: 3px;
    } */
  }
}

/**
 * Chapter headings - h3 - are wrapped in a following structure
 *
 * This structure allows for
 * custom-sized imaged to be placed behind
 * and slightly below chapter's text
 *
 * The 'below' part is regulated by @see .decorate-contents::margin-top
 */
.decorate-title-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 4rem;

  /* & .decorate-title-depth-wrapper {
    position: absolute;
    display: inline-block;
    right: -12vi;
    top: 2.6rem;
    width: fit-content;
    height: fit-content;
    z-index: 20;

    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    box-decoration-break: clone;

    border-color: hsla(8, 75%, 45%, 0);
    color: hsl(343, 10%, 27%);
    background-color: hsl(34, 62%, 64%);

    & .decorate-title-depth-count {
      letter-spacing: 0px;
      padding: 5px;
      font-family: heading;
      font-weight: bold;
      font-style: italic;
      text-transform: uppercase;
      border-radius: 2px;
      font-size: 1.5em;
    }
  } */

  /**
   * Explicitly customize h3,
   * as is is the only level of heading
   * the encompassing structure applies to
   */
  & h3 {
    position: relative;
    z-index: 20;
    /* fix in h3 proper */
    margin-bottom: 0;
  }

  /**
   * Image and other stuff behind the heading text goes here
   */
  & .decorate-contents {
    position: relative;
    z-index: 18;
    width: 100%;
    margin-top: -12vi;

    /**
     * Image itself
     */
    & .decorate-contents-img {
      display: block;
      height: auto;
      width: 100%;
    }

    /**
     * Elements above the image on z-index
     */
    /* & .decorate-contents-overflow {
      position: absolute;
      bottom: -3vi;
      right: 5%;
      z-index: 19;
      font-size: 6.4rem;
    } */
  }
}

/**
 * Custom styles for mobile view
 */
@media (max-width: 624px) {
  body {
    padding: 1rem;
  }

  .container p {
    text-align: justify;
  }

  h1 {
    /* font-size: 1.7em; */
    padding: 14px 6px;

    &::before {
      content: none;
    }
  }

  h2 {
    letter-spacing: 3px;
  }

  h3 {
    font-size: 2.4rem;
    letter-spacing: 3px;
  }
}

/**
 * Main code block styles common across all applications
 * of the tag
 */
code {
  font-family: primary;
  background-color: hsl(343, 10%, 27%);
  /* background-color: hsla(23, 100%, 59%, 0.22); */
  /* background-color: #564443; */
  color: hsl(34, 62%, 64%);
  border-color: hsla(8, 75%, 45%, 0);

  font-weight: bold;
  font-style: oblique;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  margin-top: 6px;
  padding: 1px 4px;
}

/**
 * Overrides for code block
 */
.code-conlang {
  margin-bottom: 2rem;

  & code {
    color: hsl(344, 100%, 50%);
    background-color: hsl(352, 41%, 25%);
    font-style: normal;
    margin: 0px;
    padding: 4px 6px;
    /* line-height: 1.06em; */
  }
}

em {
  color: hsl(24, 94%, 79%);
}

:is(h1) + p {
  & em {
    color: hsl(8, 30%, 55%);
  }
}

/**
 * List styles
 */
ol,
ul {
  margin: 0em 0em;
  padding-left: 1.2em;
}

li {
  padding-bottom: 0.6em;
  list-style-type: square;
}

strong {
  /* color: hsl(23, 70%, 70%); */
  color: hsl(340, 100%, 52%);
  font-weight: bolder;
  /* color: hsl(24, 100%, 52%); */
  padding-left: 1px;
  padding-right: 1px;

  &::selection {
    background-color: rgba(15, 10, 9, 0.7) !important;
  }
}

a {
  color: hsl(0, 0%, 91%);
  text-decoration: none;
}

/**
 * SK energy-themed style for text
 */
.energy {
  font-family: "newton-sans-regular";
  background: linear-gradient(
    to top,
    #a6d9fd,
    #66ffff,
    #4aa7ff,
    #3d51ff
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: energy-move 10s linear infinite;
  /* text-shadow: 0px 5px 10px rgba(74, 167, 255, 0.2); */
  text-align: center;
  font-weight: 100;
}

/* Animate gradient background */
@keyframes energy-move {
  0% {
    background-position: 0% 50%;
    filter: blur(0.003em);
  }
  50% {
    background-position: 100% 50%;
    filter: blur(0.013em);
  }
  100% {
    background-position: 0% 50%;
    filter: blur(0.003em);
  }
}

/**
 * Common elements of buttons
 */
.button-jumper,
.button-scroll-to-top {
  border: solid;
  border-color: transparent;
  border-width: 2px;
  background-color: hsla(225deg, 30%, 24%, 1);

  &:hover {
    background-color: hsla(225deg, 30%, 18%, 1);

    & img {
      filter: drop-shadow(
        0px 0px 4px hsla(0deg, 0%, 40%, 0.4)
      );
    }
  }
}

.button-jumper {
  border-radius: 0px 5px 5px 0px;
}

.button-scroll-to-top {
  border-radius: 5px 0px 0px 5px;
}

/**
 * Chapter break which is paired with
 * h3 headings' div structures
 */
.chapter-break {
  margin-top: 4.5rem;
  font-family: heading;
  font-size: 5rem;
  padding: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.chapter-break-penultimate {
  margin-top: 4.5rem;
  font-family: secondary-light;
  font-size: 1rem;
  padding: 4rem 0rem;
  background: #000;
  color: var(--toc-active-item-icon);
}

/**
 * Markdown document text container
 */
.container {
  height: 100vh;
  word-wrap: anywhere;

  & a {
    color: hsl(220, 87%, 77%);
    /* color: hsl(23, 70%, 70%); */

    /* color: hsl(35, 60%, 61%); */
    text-decoration: none;
    font-weight: bold;

    font-style: italic;
    padding-right: 3px;

    &:hover {
      color: hsl(214, 86%, 86%);
      transition: 20ms;
    }
  }
}

.ui-button-container-jumper {
  display: block;
  position: fixed;
  left: 0rem;
  align-items: center;
  justify-content: center;
  width: auto;
  bottom: 2.2rem;
  z-index: 2;
}

.ui-button-container-scroller {
  display: block;
  position: fixed;
  bottom: 2.2rem;
  right: 0%;
  align-items: center;
  justify-content: center;
  width: auto;
  z-index: 2;
}

.button-icon {
  width: 34px;
  height: 34px;
  scale: 1;
  padding: 2px 0px;
}

/**
 * Table of Contents container
 */
.toc {
  display: none;
  top: 0;
  bottom: 0;
  padding-top: 0.5rem;
  padding-right: 0;

  /* hide scrollbar */
  /* chrome */
  &::-webkit-scrollbar {
    display: none;
  }
  /* edge */
  -ms-overflow-style: none;
  /* ff */
  scrollbar-width: none;

  & code {
    font-weight: bold;
    font-style: normal;
    border-radius: 2px;
    padding: 0px 4px;
  }

  & :not(:is(code, .button-jumper, .button-scroll-to-top)) {
    background-color: unset;
  }
}

/**
 * Custom styles for minimal desktop veiw
 */
@media only screen and (min-width: 624px) {
  .toc {
    display: grid;
    position: fixed;
    max-width: 21%;
    height: 100vh;
    word-wrap: anywhere;
    overflow-y: scroll;
    overscroll-behavior: contain;
  }

  .toc-content {
    position: relative;
    width: 100%;

    font-family: secondary-light;

    /* heading 1 is always single */
    & ul.heading-level-1 {
      padding-bottom: 7rem;
    }

    /* clickable area margins */
    & a > li {
      padding-left: 2.2rem;
      padding-right: 0.2rem;
      border-radius: 0px 5px 5px 0px;
    }

    & a[data-active] > li {
      background-color: hsla(225deg, 30%, 24%, 0.2);
    }
    & a[data-active] > li::before {
      content: "";

      border: solid;
      border-color: transparent;
      border-width: 0px;
      border-radius: 5px;
      background-color: hsla(225deg, 30%, 24%, 1);

      background-image: var(--toc-active-item-icon);
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0.6em;
      margin-top: 4px;
    }

    /**
     * See prior instance of this selection through id's string
     */
    & a:is(
        [data-id="chapter-ix-part-iiswarm"],
        [data-id="chapter-ix-part-ii-swarm"]
    ) {
      & > li code {
        background-color: var(--color-unknown);
        color: #000;
      }

      /**
       * Select only chapter's heading
       */
      &[data-active] > li::before {
        background-image: var(--toc-active-item-icon-unknown);
      }
    }

    & :is(
        .heading-level-1,
        .heading-level-2,
        .heading-level-3
      ) > a > li {
      font-weight: bold;
      text-transform: uppercase;
    }

    & .heading-level-3 > a > li::before {
      content: "";

      border: solid;
      border-color: transparent;
      border-width: 0px;
      border-radius: 5px;
      background-color: hsla(225deg, 30%, 24%, 1);
      display: block;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0.6em;
      margin-top: 4px;
    }

    /**
     * Better define subsections of chapters
     */
    & .heading-level-4 ul a li {
      padding-left: 3.6em;
    }

    /* Prevent custom multiline for chapter headings */
    & em {
      font-style: normal;
      color: inherit;

      & > code {
        font-style: normal;
      }
    }
  }

  .ui-button-container-scroller {
    display: block;
    position: fixed;
    bottom: 2.2rem;
    right: 0%;
    align-items: center;
    justify-content: center;
    width: auto;
    z-index: 2;
  }

  .container {
    max-width: 50%;
    padding-left: 25%;

    & p,
    li {
      text-align: left;
    }
  }
}

@media only screen and (min-width: 2048px) {
  .toc {
    max-width: 20rem;
    left: calc(((100% - 50rem) / 2) - 22rem);

    & .toc-content a > li {
      border-radius: 5px;
    }
  }

  .container {
    padding-left: calc((100% - 50rem) / 2);
    max-width: 50rem;
  }

  .ui-button-container-jumper {
    left: unset;
    justify-self: center; /* Centers horizontally */
    & .button-jumper {
      border-radius: 5px;
    }
  }
}

.through-curse {
  background-color: #f72694;
}

/**
 * Table context and styles
 */
table {
  & th {
    width: 140px;

    &:nth-of-type(1) {
      width: 80px;
      word-wrap: break-word;
    }
    &:nth-of-type(2) {
      width: 200px;
    }
  }

  /* table cells */
  & td {
    padding: 10px 4px;
  }

  /* table rows */
  & .row-color-1 {
    background-color: hsla(0deg, 0%, 100%, 0.01);
  }
  & .row-color-2 {
    background-color: hsla(0deg, 0%, 100%, 0.02);
  }
}
