@import url("./normalize.css");

/* https://www.dafont.com/familiar-pro.font */
@font-face {
  font-family: heading;
  font-style: normal;
  src: url("/fonts/familiar_pro/Familiar Pro-Bold.otf")
    format("opentype");
}

@font-face {
  font-family: primary;
  font-style: normal;
  src: url("/fonts/Open_Sans/static/OpenSans-Regular.ttf")
    /* src: url("/fonts/Open_Sans/static/OpenSans-Light.ttf") */
    /* src: url("/fonts/Fira_Sans/FiraSans-Light.ttf") */
    /* src: url("/fonts/Fira_Sans/FiraSans-ExtraLight.ttf") */
    format("truetype");
}

@font-face {
  font-family: secondary-light;
  font-style: normal;
  src: url("/fonts/Fira_Sans/FiraSans-Light.ttf")
    /* src: url("/fonts/Open_Sans/static/OpenSans-Light.ttf") */
    format("truetype");
}

/* https://webapp1.dlib.indiana.edu/newton/reference/font.do */
/* https://webapp1.dlib.indiana.edu/newton/fonts/Unicode-U1F700.pdf */
@font-face {
  font-family: "newton-sans-regular";
  src: url("$lib/entries/sk/rebis-theory/assets/fonts/newton_sans/NewtonSans-2015-11-04.ttf")
    format("truetype");
}

:root {
  color-scheme: dark;
  --toc-active-item-color: hsl(34, 72%, 70%);
  --toc-hover-item-background: hsla(225deg, 40%, 30%, 0.1);
  --ui-selection-regular: rgba(255, 62, 41, 0.5);
  --asset-moon: url("/src/lib/entries/sk/rebis-theory/assets/moon.png");
  --asset-floor: url("/src/lib/entries/sk/rebis-theory/assets/knight_floorlogo.png");
}

body {
  font-family: primary, newton-sans-regular, sans-serif;
}

/* .background-special {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
} */

.background-base {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  z-index: -99;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:
    radial-gradient(
      circle,
      rgba(52, 100, 255, 0.14),
      rgba(0, 0, 0, 0)
    ),
    linear-gradient(
      210deg,
      /* rgba(59, 157, 248, 0.36),
      rgba(42, 58, 202, 0.36) */
        /* rgba(59, 157, 248, 0.16),
      rgba(42, 58, 202, 0.22) */
        rgba(59, 157, 248, 0.28),
      rgba(42, 58, 202, 0.22)
    );
  z-index: -20;
}

/* .background::before {
  content: "";
  position: absolute;
  top: -40px;
  right: -50%;

  height: 80%;
  width: 80%;

  background-image: var(--asset-floor);
  background-size: contain;
  opacity: 0.04;
  background-repeat: no-repeat;
} */

html {
  min-height: 100vh;
  top: 0;
  bottom: 0;
}

body {
  top: 0;
  bottom: 0;
  color: hsl(240, 10%, 92%);
}

::selection {
  background-color: var(--ui-selection-regular) !important;
}

h1 {
  font-weight: 600;
  font-size: 4rem;

  padding-top: 5rem;
  padding-bottom: 0rem;
  margin-bottom: 0.1rem;

  letter-spacing: 1px;
  font-family: heading;
  text-transform: uppercase;

  margin-bottom: 1rem;

  &::before {
    background-image: var(--asset-moon);
    width: 18rem;
    height: 18rem;

    z-index: -30;
    background-repeat: no-repeat;
    position: absolute;
    content: "";
    /* content: url("/src/lib/entries/sk/rebis-theory/assets/moon.png"); */
    background-size: cover;
    /* top: -2.8rem; */
    animation: clouds-move 16s linear infinite;
    transform: scale(1);
    mix-blend-mode: screen;
  }
}

/* 0 8px 24px var(--btn-primary-box-shadow opacity .32) */

@keyframes clouds-move {
  0% {
    top: -2.6rem;
    filter: contrast(1.5) brightness(1);
  }
  50% {
    top: -2rem;
    filter: contrast(1.5) brightness(1.2);
  }
  100% {
    top: -2.6rem;
    filter: contrast(1.5) brightness(1);
  }
}

h2 {
  font-weight: 500;
  font-size: 3.8rem;
}

h3 {
  font-size: 3.8rem;
  letter-spacing: 3px;
  margin-bottom: 3.6rem;
}

h4 {
  /* letter-spacing: 2px; */
  font-size: 1.3rem;
}

h5 {
  /* letter-spacing: 1px; */
  font-size: 1.3rem;
}

h4,
h5 {
  margin-bottom: 16px;
}

p,
li {
  font-weight: 400;
  line-height: 1.5em;
  margin: 0 0;
  padding-bottom: 24px;
}

h2,
h3,
h4,
h5 {
  font-family: heading;
  text-transform: uppercase;
  /* font-weight: bold; */

  & code {
    letter-spacing: 0px;
    font-weight: bold;
    font-style: inherit;
    border-radius: 2px;
    padding: 0em 0.15em;
    /* align visually letter's box size,
      consider letter spacing */
    padding-left: 0.3em;

    &::after {
      content: "";
      background-image: url("/src/lib/entries/sk/rebis-theory/assets/logo_alchemy.png");
      background-size: 22px;
      width: 29px;
      display: inline-block;
      height: 24px;
      bottom: -5px;
      background-position-x: 90%;
      position: relative;
      background-repeat: no-repeat;
      filter: brightness(0.5) contrast(0.5) sepia(1)
        saturate(2.2);
    }
  }

  /* 2-story chapter names */
  > em:first-of-type {
    font-size: 1.3rem;
    font-style: inherit;
    color: inherit;

    &::after {
      content: "";
      display: block;
      white-space: pre-line;
    }
  }
}

@media (max-width: 624px) {
  body {
    padding: 1rem;
  }

  .container p {
    text-align: justify;
  }

  h1 {
    /* font-size: 1.7em; */
    padding: 14px 6px;

    &::before {
      content: none;
    }
  }

  h2 {
    letter-spacing: 3px;
  }

  h3 {
    font-size: 2.4rem;
    letter-spacing: 3px;
  }
}

code {
  font-family: primary;
  background-color: hsl(343, 10%, 27%);
  /* background-color: hsla(23, 100%, 59%, 0.22); */
  /* background-color: #564443; */
  color: hsl(34, 62%, 64%);
  border-color: hsla(8, 75%, 45%, 0);

  font-weight: bold;
  font-style: oblique;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;

  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;

  margin-top: 6px;
  padding: 1px 4px;
}

div.code-conlang {
  margin-bottom: 2rem;
}

.code-conlang code {
  color: hsl(344, 100%, 50%);
  background-color: hsl(352, 41%, 25%);
  font-style: normal;
  margin: 0px;
  padding: 4px 6px;
  /* line-height: 1.06em; */
}

em {
  color: hsl(24, 94%, 79%);
}

:is(h1) + p {
  & em {
    color: hsl(8, 30%, 55%);
  }
}

ol,
ul {
  margin: 0em 0em;
  padding-left: 1.2em;
}

li {
  padding-bottom: 0.6em;
  list-style-type: square;
}

strong {
  /* color: hsl(23, 70%, 70%); */
  color: hsl(340, 100%, 52%);
  font-weight: bolder;
  /* color: hsl(24, 100%, 52%); */
  padding-left: 1px;
  padding-right: 1px;

  &::selection {
    background-color: rgba(15, 10, 9, 0.7) !important;
  }
}

a {
  color: hsl(0, 0%, 91%);
  text-decoration: none;
}

.energy {
  font-family: "newton-sans-regular";
  background: linear-gradient(
    to top,
    #a6d9fd,
    #66ffff,
    #4aa7ff,
    #3d51ff
  );
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: energy-move 5s linear infinite;
  text-align: center;
  font-weight: 100;
}

.button-jumper,
.button-scroll-to-top {
  border: solid;
  border-color: transparent;
  border-width: 2px;
  background-color: hsla(225deg, 30%, 24%, 1);

  &:hover {
    background-color: hsla(225deg, 30%, 18%, 1);

    & img {
      filter: drop-shadow(
        0px 0px 4px hsla(0deg, 0%, 40%, 0.4)
      );
    }
  }
}

.button-jumper {
  border-radius: 0px 5px 5px 0px;
}

.button-scroll-to-top {
  border-radius: 5px 0px 0px 5px;
}

center.chapter-break {
  margin-top: 4.5rem;
  font-family: heading;
  font-weight: 600;
  font-size: 5rem;
  padding: 0px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* Animate gradient background */
@keyframes energy-move {
  0% {
    background-position: 0% 50%;
    filter: blur(0.008em);
  }
  50% {
    background-position: 100% 50%;
    filter: blur(0.016em);
  }
  100% {
    background-position: 0% 50%;
    filter: blur(0.008em);
  }
}

.container {
  /* max-width: 60%; */
  height: 100vh;
  word-wrap: anywhere;

  & a {
    color: hsl(220, 87%, 77%);
    /* color: hsl(23, 70%, 70%); */

    /* color: hsl(35, 60%, 61%); */
    text-decoration: none;
    font-weight: bold;

    font-style: italic;
    padding-right: 3px;

    &:hover {
      color: hsl(214, 86%, 86%);
      transition: 20ms;
    }
  }
}

.ui-button-container-jumper {
  display: block;
  position: fixed;
  left: 0rem;
  align-items: center;
  justify-content: center;
  width: auto;
  bottom: 2.2rem;
  z-index: 2;
}

.ui-button-container-scroller {
  display: block;
  position: fixed;
  bottom: 2.2rem;
  right: 0%;
  align-items: center;
  justify-content: center;
  width: auto;
  z-index: 2;
}

.button-icon {
  width: 34px;
  height: 34px;
  scale: 1;
  padding: 2px 0px;
}

.toc {
  display: none;
  top: 0;
  bottom: 0;
  padding-top: 0.5rem;
  padding-right: 0;

  /* hide scrollbar */
  /* chrome */
  &::-webkit-scrollbar {
    display: none;
  }
  /* edge */
  -ms-overflow-style: none;
  /* ff */
  scrollbar-width: none;

  & code {
    font-weight: bold;
    font-style: normal;
    border-radius: 2px;
    padding: 0px 4px;
  }

  & :not(:is(code, .button-jumper, .button-scroll-to-top)) {
    background-color: unset;
  }
}

@media only screen and (min-width: 624px) {
  .toc {
    display: grid;
    position: fixed;
    max-width: 21%;
    height: 100vh;
    word-wrap: anywhere;
    overflow-y: scroll;
    overscroll-behavior: contain;
  }

  .toc-content {
    position: relative;
    width: 100%;

    font-family: secondary-light;

    /* heading 1 is always single */
    & ul.heading-level-1 {
      padding-bottom: 7rem;
    }

    /* clickable area margins */
    & a > li {
      padding-left: 2.2rem;
      padding-right: 0.2rem;
      border-radius: 0px 5px 5px 0px;
    }

    & a[data-active] > li {
      background-color: hsla(225deg, 30%, 24%, 0.2);
    }
    & a[data-active] > li::before {
      content: "";

      border: solid;
      border-color: transparent;
      border-width: 0px;
      border-radius: 5px;
      background-color: hsla(225deg, 30%, 24%, 1);

      background-image: url("/src/lib/entries/sk/rebis-theory/assets/icon_goldlock.png");
      display: block;
      background-size: cover;
      background-repeat: no-repeat;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0.6em;
      margin-top: 4px;
    }

    &
      :is(
        .heading-level-1,
        .heading-level-2,
        .heading-level-3
      )
      > a
      > li {
      font-weight: bold;
      text-transform: uppercase;
    }

    & .heading-level-3 > a > li::before {
      content: "";

      border: solid;
      border-color: transparent;
      border-width: 0px;
      border-radius: 5px;
      background-color: hsla(225deg, 30%, 24%, 1);
      display: block;
      width: 1.2em;
      height: 1.2em;
      position: absolute;
      left: 0.6em;
      margin-top: 4px;
    }

    & .heading-level-4 ul a li {
      padding-left: 2.66em;
    }

    /* Prevent custom multiline for chapter headings */
    & em {
      font-style: normal;
      color: inherit;

      & > code {
        font-style: normal;
      }
    }
  }

  .ui-button-container-scroller {
    display: block;
    position: fixed;
    bottom: 2.2rem;
    right: 0%;
    align-items: center;
    justify-content: center;
    width: auto;
    z-index: 2;
  }

  .container {
    max-width: 50%;
    padding-left: 25%;

    & p,
    li {
      text-align: left;
    }
  }
}

@media only screen and (min-width: 1440px) {
  .toc {
    max-width: 20rem;
    left: calc(((100% - 50rem) / 2) - 22rem);

    & .toc-content a > li {
      border-radius: 5px;
    }
  }

  .container {
    padding-left: calc((100% - 50rem) / 2);
    max-width: 50rem;
  }

  .ui-button-container-jumper {
    left: unset;
    justify-self: center; /* Centers horizontally */
    & .button-jumper {
      border-radius: 5px;
    }
  }
}

.through-curse {
  background-color: #f72694;
}

/* table context */
th {
  width: 140px;

  &:nth-of-type(1) {
    width: 80px;
    word-wrap: break-word;
  }
  &:nth-of-type(2) {
    width: 200px;
  }
}

/* table cells */
td {
  padding: 10px 4px;
}

/* table rows */
.row-color-1 {
  background-color: hsla(0deg, 0%, 100%, 0.01);
}
.row-color-2 {
  background-color: hsla(0deg, 0%, 100%, 0.02);
}
