.ui-button-toc-toggle {
  display: none;
}
/**
 * Custom styles for mobile view
 */
@media (max-width: 624px) {
  p {
    /* text-align: justify; */
  }

  h2 {
    letter-spacing: 3px;
  }

  h3 {
    font-size: 2.4rem;
    letter-spacing: 3px;
  }

  .toc-container {
    position: relative;
  }
     
  /* .container {
    padding-left: 5%;
    max-width: 95%;
  } */
   
  .toc-placeholder {
    /* height: 50px; */
  }
  
  .ui-button-toc-toggle {
    display: block;
    position: fixed;
    z-index: 1;
    cursor: pointer;
  }
  
  .toc {
    background: hsla(0deg, 0%, 0%, 0.9);
  }
}
