/**
 * Custom styles for mobile view
 */
@media (max-width: 624px) {
  p {
    text-align: justify;
  }
  .container {
    max-width: 84%;
    padding-left: 8%;
  }

  h2 {
    letter-spacing: 3px;
  }

  h3 {
    font-size: 2.4rem;
    letter-spacing: 3px;
  }

  .sidebar {
    background: hsla(0deg, 0%, 0%, 0.9);
    max-width: 100%;
  }
  

  // only with closed toc
  /* .sidebar-container[data-sidebar-hidden='true'] .ui-button-dom-scroller {
    left: 0%;
    bottom: 2.2rem;
  } */
  // only in open toc
  /* .sidebar-container[data-sidebar-hidden='false'] .ui-button-toc-scroller {
    left: 3.2rem;
    bottom: 2.2rem;
  } */
  /* .ui-button-toc-toggler {
    right: 0rem;
    bottom: 2.2rem;
  } */
}
